## Data Collections 2 (Dictionaries, Sets)

## Tasks Today:

1) Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring (key, value) <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accessing Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #1 - Print the eye color of each person in a double nested dict <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Adding New Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Modifying Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Removing Key, Value Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Looping a Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Looping Only Keys <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Looping Only Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format()  <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) sorted() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Lists with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; k) Dictionaries with Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; l) Dictionaries with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #3 - Write a Function that asks someone's name and address, and then stores that into a dictionary, which prints all names and addresses after they're done putting information in...  <br>
2) Dictionaries vs. Lists (over time)<br>
3) Set <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) .add() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .union() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .intersection() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .difference() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Frozen Set <br>

5) Exercises <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Address Book Program <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Best Times to Meet <br>

#### Warm Up

Given the list `address_book`, create a function that accepts a name (first or last or both) and returns the phone number of that name in the `address_book`. If the name is not in `address_book`, return -1.<br>

Ex. 1<br>
name = 'Hank'<br>
Expected Output: '(555) 555-1234'<br>

Ex. 2<br>
name = 'Tevin'<br>
Expected Output: '(333) 333-3245'<br>

Ex. 3<br>
name = 'Brian'<br>
Expected Output: -1<br>

In [1]:
address_book = [
    ('Hank', 'Mardukas', '123 Real Street', '(555) 555-1234'),
    ('Peter', 'Klaven', '321 Fake Street', '(555) 555-4321'),
    ('Sydney', 'Fife', '555 Santa Monica Drive', '(222) 222-6789'),
    ('Tevin', 'Downey', '100 Rodeo Blvd', '(333) 333-3245'),
    ('Robby', '', '', '(445) 345-6821'),
    ('432 Sound Ave', 'Mike', '(434) 345-6434', 'Wazowski')
]

## Dictionary <br>
<p>A collection of data with 'key:value' pairs. Dictionaries are ordered as of Python 3.6</p>

##### Declaring (key, value)

In [2]:
# Syntax: a_dict = {} or a_dict = dict() or a_dict = {'key': value, ...} or a_dict = dict(key=value)

d1 = {}
print(d1)
print(type(d1))

d2 = dict()
print(d2)
print(type(d2))

d3 = {
    'Hank': '123 Real Street',
    'Peter': '321 Fake Street',
    'Syndey': '555 Santa Monica Blvd',
    'Tevin': '100 Rodeo Drive'
}

print(d3)
print(type(d3))


d4 = dict(test=123, abc='xyz')
print(d4)
print(type(d4))

{}
<class 'dict'>
{}
<class 'dict'>
{'Hank': '123 Real Street', 'Peter': '321 Fake Street', 'Syndey': '555 Santa Monica Blvd', 'Tevin': '100 Rodeo Drive'}
<class 'dict'>
{'test': 123, 'abc': 'xyz'}
<class 'dict'>

In [3]:
a_list = ['Hank', 'Peter', 'Sydney', 'Tevin']

print(a_list[3])

Tevin

##### Accessing Values

In [4]:
d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Syndey': '555 Santa Monica Blvd',
 'Tevin': '100 Rodeo Drive'}

In [5]:
# dict[key]
print(d3['Hank'])

123 Real Street

In [6]:
print(d3['Tevin'])

100 Rodeo Drive

In [7]:
print(d3['Brian']) # KeyError

KeyError: 'Brian'

##### .get()

In [8]:
help(dict.get)

Help on method_descriptor:

get(self, key, default=None, /)
    Return the value for key if key is in the dictionary, else default.

In [9]:
# dict.get('key') or dict.get('key', value_if_no_key)
print(d3.get('Peter'))
print(d3.get('Brian'))
print(d3.get('Brian', 'No Address Available'))

321 Fake Street
None
No Address Available

## In-Class Exercise #1 - Print a formatted statement from the dictionary below <br>
<p>The output should be 'My favorite car is a 2018 Chevrolet Silverado'</p>

In [ ]:
# use the dict below
truck = {
    'year': 2018,
    'make': 'Chevrolet',
    'model': 'Silverado'
}

##### Adding New Pairs

In [15]:
d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Syndey': '555 Santa Monica Blvd',
 'Tevin': '100 Rodeo Drive'}

In [16]:
# dict[key] = value
d3['Zooey'] = '428 Main Street'

d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Syndey': '555 Santa Monica Blvd',
 'Tevin': '100 Rodeo Drive',
 'Zooey': '428 Main Street'}

##### Modifying Values

In [17]:
# dict[key] = value
d3['Zooey'] = '321 Fake Street'

d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Syndey': '555 Santa Monica Blvd',
 'Tevin': '100 Rodeo Drive',
 'Zooey': '321 Fake Street'}

##### Removing Key, Value Pairs

In [19]:
# del dict[key]

del d3['Tevin']

d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Syndey': '555 Santa Monica Blvd',
 'Zooey': '321 Fake Street'}

In [20]:
del d3['Tevin'] # KeyError

d3

KeyError: 'Tevin'

In [21]:
help(dict.pop)

Help on method_descriptor:

pop(...)
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.

    If key is not found, default is returned if given, otherwise KeyError is raised

In [22]:
# dict.pop('key') - remove key,value pair - returns value back to caller

removed_value = d3.pop('Zooey')

print(removed_value)

print(d3)

321 Fake Street
{'Hank': '123 Real Street', 'Peter': '321 Fake Street', 'Syndey': '555 Santa Monica Blvd'}

In [25]:
removed_value = d3.pop('Zooey', 'Not In Dictionary')

print(removed_value)

print(d3)

Not In Dictionary
{'Hank': '123 Real Street', 'Peter': '321 Fake Street', 'Syndey': '555 Santa Monica Blvd'}

In [23]:
people = {
    ('Brian', 'Stanton'): 99,
    ('Brian', 'Piccolo'): 89
}

people.get(('Brian', 'Stanton'))

99

##### Looping a Dictionary

In [26]:
help(dict.items)

Help on method_descriptor:

items(...)
    D.items() -> a set-like object providing a view on D's items

In [30]:
# .items()
print(d3)
print(d3.items())

{'Hank': '123 Real Street', 'Peter': '321 Fake Street', 'Syndey': '555 Santa Monica Blvd'}
dict_items([('Hank', '123 Real Street'), ('Peter', '321 Fake Street'), ('Syndey', '555 Santa Monica Blvd')])

In [32]:
for item in d3.items():
    print(item, type(item))

('Hank', '123 Real Street') <class 'tuple'>
('Peter', '321 Fake Street') <class 'tuple'>
('Syndey', '555 Santa Monica Blvd') <class 'tuple'>

In [34]:
a, b, c = (1, 2, 3)
print(a)
print(b)
print(c)

1
2
3

In [39]:
for name, address in d3.items():
    print('Key:', name, '-- Value:', address)

Key: Hank -- Value: 123 Real Street
Key: Peter -- Value: 321 Fake Street
Key: Syndey -- Value: 555 Santa Monica Blvd

##### Looping Only Keys

In [42]:
d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Syndey': '555 Santa Monica Blvd'}

In [45]:
# .keys()


for i in d3:
    print(i)
    
print('='*20)

print(d3.keys())

print('='*20)

for key in d3.keys():
    print(key)

Hank
Peter
Syndey
====================
dict_keys(['Hank', 'Peter', 'Syndey'])
====================
Hank
Peter
Syndey

In [50]:
for key in d3:
    print(key, d3[key])

Hank 123 Real Street
Peter 321 Fake Street
Syndey 555 Santa Monica Blvd

In [54]:
for key in d3:
    print(key, d3.get(key))

Hank 123 Real Street
Peter 321 Fake Street
Syndey 555 Santa Monica Blvd

##### Looping Only Values

In [51]:
help(dict.values)

Help on method_descriptor:

values(...)
    D.values() -> an object providing a view on D's values

In [52]:
# .values()
print(d3.values())

dict_values(['123 Real Street', '321 Fake Street', '555 Santa Monica Blvd'])

In [53]:
for val in d3.values():
    print(val)

123 Real Street
321 Fake Street
555 Santa Monica Blvd

## In-Class Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format() or f-string <br>
<p><b>Output should be:</b><br>
Max has blue eyes<br>
Lilly has brown eyes<br>
Barney has blue eyes<br>
etc.
</p>

In [2]:
# use the dict below

people = {
    'Max': 'blue',
    'Lilly': 'brown',
    'Barney': 'blue',
    'Larney': 'brown',
    'Ted': 'purple'
}

##### List with Dictionaries

In [84]:
my_list = [1, 2, 3, 'hello', 'goodbye', {'a': 123, 'b': 456}, d3]

print(my_list)

[1, 2, 3, 'hello', 'goodbye', {'a': 123, 'b': 456}, {'Hank': '123 Real Street', 'Peter': '321 Fake Street', 'Syndey': '555 Santa Monica Blvd'}]

In [98]:
print(my_list[5], type(my_list[5]))
print(my_list[5]['b'])
print(my_list[5].get('a'))

print(my_list[5].items())

{'a': 123, 'b': 456} <class 'dict'>
456
123
dict_items([('a', 123), ('b', 456)])

##### List of Dictionaries

In [99]:
movies = [
    {'title': 'Inception', 'director': 'Christopher Nolan', 'release_year': 2010},
    {'title': 'The Social Network', 'director': 'David Fincher', 'release_year': 2010},
    {'title': 'The Departed', 'director': 'Martin Scorsese', 'release_year': 2006},
    {'release_year': 2019, 'title': 'Parasite', 'director': 'Bong Joon Ho'}
]

print(movies)
print(type(movies))

[{'title': 'Inception', 'director': 'Christopher Nolan', 'release_year': 2010}, {'title': 'The Social Network', 'director': 'David Fincher', 'release_year': 2010}, {'title': 'The Departed', 'director': 'Martin Scorsese', 'release_year': 2006}, {'release_year': 2019, 'title': 'Parasite', 'director': 'Bong Joon Ho'}]
<class 'list'>

In [104]:
for movie in movies:
    print(f"Title: {movie.get('title')} - Directed By: {movie.get('director')} - {movie.get('release_year')}")

Title: Inception - Directed By: Christopher Nolan - 2010
Title: The Social Network - Directed By: David Fincher - 2010
Title: The Departed - Directed By: Martin Scorsese - 2006
Title: Parasite - Directed By: Bong Joon Ho - 2019

##### Dictionaries with Lists

In [110]:
# be careful when using numbers as keys in dictionaries, don't confuse them with indexes
random_data = {
    'list1': [45, 75, 234, 324],
    0: ['a', 'b', 'c']
}

print(random_data)
print(random_data[0]) # this is NOT index-0 - this is accessing the key 0
print(random_data['list1'], type(random_data['list1']))

{'list1': [45, 75, 234, 324], 0: ['a', 'b', 'c']}
['a', 'b', 'c']
[45, 75, 234, 324] <class 'list'>

In [115]:
print(random_data['list1'][2])
random_data['list1'].append('Hello!')

print(random_data)

234
{'list1': [45, 75, 234, 324, 'Hello!'], 0: ['a', 'b', 'c']}

##### Dictionaries with Dictionaries

In [124]:
# to get values, must traverse through keys

my_shoppe = {
    'ice_cream': {
        'vanilla': 2.99,
        'chocolate': 2.99,
        'oreo': 3.49
    },
    'milkshake': {
        'vanilla': 3.99,
        'chocolate': 3.99,
        'oreo': 4.49
    }
}

print(my_shoppe)
print(my_shoppe.keys())
print(my_shoppe['ice_cream'], type(my_shoppe['ice_cream']))
print(my_shoppe['ice_cream']['chocolate'])
print(my_shoppe.get('milkshake').get('oreo'))

{'ice_cream': {'vanilla': 2.99, 'chocolate': 2.99, 'oreo': 3.49}, 'milkshake': {'vanilla': 3.99, 'chocolate': 3.99, 'oreo': 4.49}}
dict_keys(['ice_cream', 'milkshake'])
{'vanilla': 2.99, 'chocolate': 2.99, 'oreo': 3.49} <class 'dict'>
2.99
4.49

In [125]:
job_app = {
    'full_name': 'Jimmy Smith',
    'email': 'jsmith@email.com',
    'prog_languages': [
        {
            'name': 'Python',
            'proficiency': 8
        },
        {
            'name': 'JavaScript',
            'proficiency': 5
        }
    ],
    'experience': [
        {
            'company': 'Omnicorp',
            'position': 'bossman',
            'years_at_company': [2010, 2011, 2012, 2013]
        },
        {
            'company': 'AlphaInc',
            'position': 'QA',
            'years_at_company': [2014, 2015]
        }
    ],
    'us_citizen': True
}

job_app

{'full_name': 'Jimmy Smith',
 'email': 'jsmith@email.com',
 'prog_languages': [{'name': 'Python', 'proficiency': 8},
  {'name': 'JavaScript', 'proficiency': 5}],
 'experience': [{'company': 'Omnicorp',
   'position': 'bossman',
   'years_at_company': [2010, 2011, 2012, 2013]},
  {'company': 'AlphaInc', 'position': 'QA', 'years_at_company': [2014, 2015]}],
 'us_citizen': True}

In [131]:
# How many years did Jimmy Smith work at AlphaInc?
len(job_app['experience'][1]['years_at_company'])

2

In [134]:
# List Comprehension
# [transform iterable filter]

my_new_list = [x**2 for x in range(10)]
print(my_new_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [132]:
# Dictionary Comprehension
# {transform key:vale iterable filter}

my_new_dict = {str(x): x**2 for x in range(10)}

print(my_new_dict)

{'0': 0, '1': 1, '2': 4, '3': 9, '4': 16, '5': 25, '6': 36, '7': 49, '8': 64, '9': 81}

## Dictionaries vs. Lists (over time) Example of RUNTIME
### When inputting values in a Dictionary vs List

In [135]:
import time


# generate fake dictionary
big_dictionary = {i: 'value' for i in range(10000000)}
    

# generate fake list
big_list = [x for x in range(10000000)]

In [160]:
# tracking time for set
start_time = time.time()

print(9999999 in big_dictionary)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for dictionary: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

True
Elapsed time for dictionary: 0.0
True
Elapsed time for list: 0.4071314334869385

In [161]:
small_dictionary = {i: 'value' for i in range(10)}

small_dictionary

{0: 'value',
 1: 'value',
 2: 'value',
 3: 'value',
 4: 'value',
 5: 'value',
 6: 'value',
 7: 'value',
 8: 'value',
 9: 'value'}

In [158]:
'value' in small_dictionary

False

## Set <br>
<p>A Set is an unordered collection data type that is iterable (loop), mutable, and has no duplicate elements.<br>Major advantage is that it is highly optimized in checking if something is in the set, as opposed to checking if something is in a list.</p>

##### Declaring

In [162]:
# set() or {val,}
# no order {3, 2, 1} output as {1, 2, 3}

first_set = set()

print(first_set)
print(type(first_set))

set()
<class 'set'>

In [172]:
second_set = {3, 2, 1, 56}

print(second_set)
print(type(second_set))

{56, 1, 2, 3}
<class 'set'>

In [164]:
empty_set = {} # THIS WILL CREATE A DICTIONARY
print(empty_set)
print(type(empty_set))

{}
<class 'dict'>

In [173]:
tup_a = (1, 2, 3)
set_a = {1, 2, 3}

In [178]:
def get_digits(a_string):
    output = []
    digits = {str(i) for i in range(10)}
    print(digits)
    for letter in a_string:
        if letter in digits:
            output.append(letter)
    return output

get_digits('I live 4352 W North Street, Denver, CO 93845')

{'3', '6', '2', '5', '4', '7', '9', '1', '0', '8'}

['4', '3', '5', '2', '9', '3', '8', '4', '5']

In [179]:
for num in second_set:
    print(num)

56
1
2
3

In [180]:
third_set = {1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4}

print(third_set)

{1, 2, 3, 4}

##### .add()

In [181]:
help(set.add)

Help on method_descriptor:

add(...)
    Add an element to a set.

    This has no effect if the element is already present.

In [183]:
third_set.add(234)
print(third_set)

{1, 2, 3, 4, 234}

In [184]:
third_set.add(2)
print(third_set)

{1, 2, 3, 4, 234}

In [190]:
user_info = {'username':'brians', 'password':'abc123', 'email':'brians@codingtemple.com'}
user_info['username']

'brians'

##### .remove()

In [191]:
help(set.remove)

Help on method_descriptor:

remove(...)
    Remove an element from a set; it must be a member.

    If the element is not a member, raise a KeyError.

In [192]:
third_set.remove(3)

print(third_set)

{1, 2, 4, 234}

In [193]:
third_set.remove('hi')

KeyError: 'hi'

##### .union()

In [195]:
help(set.union)

Help on method_descriptor:

union(...)
    Return the union of sets as a new set.

    (i.e. all elements that are in either set.)

In [197]:
# Returns a union of two sets, can also use '|' or set.union(set)
# joins all numbers, gets rid of duplicates
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}

s3 = s1.union(s2)
print(s3)

# OR

s4 = s2 | s1
print(s4)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [203]:
my_list = [1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 56]

no_dupes = list(set(my_list))
print(no_dupes)

[56, 1, 2, 3]

##### .intersection()

In [198]:
help(set.intersection)

Help on method_descriptor:

intersection(...)
    Return the intersection of two sets as a new set.

    (i.e. all elements that are in both sets.)

In [205]:
# Returns an intersection of two sets, can also use '&'
# only takes similar elements from both sets

s5 = s2.intersection(s1)
print(s5)

# OR 

s6 = s1 & s2
print(s6)

{3, 4}
{3, 4}

##### .difference()

In [206]:
help(set.difference)

Help on method_descriptor:

difference(...)
    Return the difference of two or more sets as a new set.

    (i.e. all elements that are in this set but not the others.)

In [210]:
# Returns a set containing all the elements of invoking set that are not in the second set, can also use '-'
# only takes values from the first set that are not in the second set
# order matters

s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}

s7 = s1.difference(s2)
print(s7)

s8 = s2.difference(s1)
print(s8)

# OR

s9 = s1 - s2
print(s9)

s10 = s2 - s1
print(s10)

{1, 2}
{5, 6}
{1, 2}
{5, 6}

In [213]:
my_list = [{'a', 'b', 'c'}, {'d', 'e', 'f'}]
print(my_list)

[{'c', 'a', 'b'}, {'f', 'd', 'e'}]

In [217]:
my_dict = {
    'a': {1, 2, 3}
}

print(my_dict['a'])

{1, 2, 3}

In [220]:
help(hash)

Help on built-in function hash in module builtins:

hash(obj, /)
    Return the hash value for the given object.

    Two objects that compare equal must also have the same hash value, but the
    reverse is not necessarily true.

In [223]:
my_dict = {
    (1, 2, 3): "hello"
}

In [224]:
hash((1, 2, 3))

529344067295497451

In [226]:
hash([1, 2, 3])

TypeError: unhashable type: 'list'

##### .clear()

In [228]:
# Empties the whole set
# set.clear()
nums = {34, 456, 23, 34, 65}

print(nums)

nums.clear()

print(nums)

{456, 65, 34, 23}
set()

##### Frozenset <br>
<p>Frozen sets are immutable objects that only support methods and operators that produce a result without affecting the frozen set or sets to which they are applied.</p><br><b>Unique & Immutable</b>

In [229]:
s3

{1, 2, 3, 4, 5, 6}

In [231]:
# frozenset([])

my_frozenset = frozenset(s3)
print(my_frozenset)

frozenset({1, 2, 3, 4, 5, 6})

In [234]:
my_frozenset.add(7)

AttributeError: 'frozenset' object has no attribute 'add'

In [235]:
new_set = {5, 10, 15, 20}

a_dict_with_set_keys = {
    new_set: "Hello World"
}

print(a_dict_with_set_keys)

TypeError: unhashable type: 'set'

In [236]:
new_set = frozenset({5, 10, 15, 20})

a_dict_with_set_keys = {
    new_set: "Hello World"
}

print(a_dict_with_set_keys)

{frozenset({10, 20, 5, 15}): 'Hello World'}

In [238]:
import time
# generate fake set
big_set = {i for i in range(10000000)}
    

# generate fake list
big_list = [x for x in range(10000000)]

In [242]:
# tracking time for set
start_time = time.time()

print(9999999 in big_set)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for set: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

True
Elapsed time for set: 0.001394033432006836
True
Elapsed time for list: 0.3617880344390869

# Exercises

### 1) Create a program that allows a user to continue to add people to an address book until the user quits. Once the user quits, break out of the loop and print out the name and address of everyone in the address book

###### Steps
1. Create a function that will ask user for name and addresses and stores them in a dictionary
2. Define an empty dictionary with which to work (global or local variable?)
3. Begin a loop that will continue to ask a user for information until the user "quits"
4. If the user does not quit, ask for a name and address and store the variables into variables
5. Add information to the dictionary with name as the key and address as the value
6. If the user does quit, end the loop
7. Print out the information from the dictionary in a formatted way
8. Execute/Call the function

In [3]:
from IPython.display import clear_output

### 2) Best Time to Meet

Billy is trying to figure out if there is a time that he and his team can meet to work on the project. His three teammates each give him a list of times they are available ('HH:MM' 24-hour). Create a function that will take in an original list plus any number of lists of teammate's available times (*remember \*args*) and return a list of times where everyone can meet.

In [3]:
person1 = ['09:00', '10:30', '11:30', '12:00', '13:00', '14:30']
person2 = ['09:30', '10:00', '10:30', '12:00', '14:30', '16:00']
person3 = ['09:00', '09:30', '11:00', '11:30', '12:00', '13:30', '14:30', '15:00']
person4 = ['11:00', '11:30', '12:00', '14:00', '14:30', '16:30', '17:00']
# Available Times: '12:00' and '14:30'